@{
    ViewBag.Title = "Home Page";
}

<div id="topCarServices" style="display:none" data-json="@ViewBag.topCarServices"></div>

<div class="container">
    <div class="demo-container" ng-app="DemoApp" ng-controller="DemoController">
        <div id="pie" dx-pie-chart="chartOptions"></div>
    </div>
</div>




<script src="~/Scripts/HomeChartsData.js"></script>
<script src="~/Scripts/HomeCharts.js"></script>

