@{
    ViewBag.Title = "Home Page";
}

<div id="topCarServices" style="display:none" data-json="@ViewBag.topCarServices"></div>

<div id="topProiftServices" style="display:none" data-json="@ViewBag.topProiftServices"></div>

<div id="topEmployeeCount" style="display:none" data-json="@ViewBag.topEmployeeCount"></div>

<div id="mostProfitableEmployee" style="display:none" data-json="@ViewBag.mostProfitableEmployee"></div>



<div class="container">
    <div class="demo-container" ng-app="DemoApp" ng-controller="DemoController">
        <div class="row">

            <div class="col-md-12">
                <div id="pie2" dx-chart="topEmployeeCountChart"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div id="pie3" dx-chart="mostProfitableEmployeeChart"></div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div id="pie" dx-pie-chart="chartOptions"></div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="pie4" dx-pie-chart="chartOptionsClients"></div>
            </div>
        </div>
    </div>
</div>




<script src="~/Scripts/HomeChartsData.js"></script>
<script src="~/Scripts/HomeCharts.js"></script>

